*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    overflow: hidden;
    background-color: black;
}

#canvas1
{
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}

#back
{
    position: absolute;
    padding: 2rem;
}

a
{
    font-size: 4rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
    color: rgb(22, 22, 128);
}

a:hover
{
    font-size: 4.5rem;
    color: red;
}


